<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="./static/stylesheets/style.css" type="text/css">
  </head>
  <body>
    <div class="main-container">
        <h1>Add to the event list</h1>
        <form class="list-header" action="/list" method="post">
          <input class="eventInput" type="text" name="name" placeholder="name">
          <input class="eventInput" type="text" name="date" placeholder="date">
          <input class="eventInput" type="text" name="location" placeholder="location">
          <button type="submit" name="button" class="submitButton">submit</button>
        </form>
        <% events.forEach(details => { %>
        <ul class="listEntry">
          <li class="name"><%= details.name %><br /></li>
          <li class="date"><%= details.date %><br /></li>
          <li class="location"><%= details.location %><br /></li>
          <a href="/edit/<%= details._id %>" class="edit">edit /</a><a href="/remove/<%= details._id %>" class="remove"> remove</a>
        </ul>
        <% }) %>
    </div>
  </body>
</html>
